services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 5000:5000
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:5000/health"]
      interval: 1m30s
      timeout: 2s
      retries: 5
      start_period: 5s
    develop:
      watch:
        - path: .
          target: /app
          action: sync
    environment:
      - POSTGRES_URL=${POSTGRES_URL}
      - JWT_KEY=${JWT_KEY}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
  postgres:
    image: postgres:16-alpine3.22
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 60s
      timeout: 10s
      retries: 5
      start_period: 1s
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - TZ=Africa/Casablanca
    expose:
      - 5432