apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: ghcr.io/rakaoran/gto-backend:latest # Placeholder image
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: POSTGRES_URL
              valueFrom:
                secretKeyRef:
                  name: gto-secrets
                  key: POSTGRES_URL
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: gto-secrets
                  key: JWT_KEY
            - name: ALLOWED_ORIGINS
              valueFrom:
                secretKeyRef:
                  name: gto-secrets
                  key: FRONTEND_ORIGIN
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
